<div class="root">
  <!-- Navbar -->
  <div class="navbar has-background-dark">
    <div class="navbar-brand">
      <div class="navbar-item">
        <h1 class="app-name has-gradient-text">Kanban Board Application</h1>
      </div>
    </div>
  </div>

  <!-- Kanban Board -->
  <div class="board">
    <!-- Board Name with Export Buttons -->
    <div class="board-bar">
      <p class="board-name">
        {{ board.name }}
        <button class="export-pdf-btn" (click)="exportBoardAsPDF()">Export PDF</button>
        <button class="export-excel-btn" (click)="exportBoardAsExcel()">Export Excel</button>
      </p>
    </div>

    <!-- Board Wrapper -->
    <div class="board-wrapper">
      <div class="board-columns" cdkDropListGroup>
        <!-- Iterate over columns -->
        <div
          *ngFor="let column of board.columns; let i = index"
          class="column"
          cdkDropList
          [cdkDropListData]="column.tasks"
          (cdkDropListDropped)="drop($event)"
          [ngStyle]="{
            'background-color': getColumnColor(i),
            'color': getTitleColor(i),
            'font-size': '20px'
          }"
        >
          <!-- Column Title -->
          <h3>{{ column.name }}</h3>

          <!-- Tasks -->
          <div *ngFor="let task of column.tasks; let taskIndex = index" class="task-container" cdkDrag>
            <div class="task">
              <input type="text" [(ngModel)]="task.text" />
              <button class="remove-task-btn" (click)="removeTask(i, taskIndex)">Remove</button>
            </div>
          </div>

          <!-- Add Task Button -->
          <button class="add-task-btn" (click)="addTask(i)">Add Task</button>
        </div>
      </div>
    </div>
  </div>

  <footer class="bg-body-tertiary text-center">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a
          data-mdb-ripple-init
          class="btn text-white btn-floating m-1"
          style="background-color: #3b5998;"
          href="https://www.facebook.com/profile.php?id=100090082430281"
          role="button"
        ><i class="fab fa-facebook-f"></i
        ></a>

        <!-- Twitter -->
        <a
          data-mdb-ripple-init
          class="btn text-white btn-floating m-1"
          style="background-color: #55acee;"
          href="https://x.com/davidgokhs_FK8T"
          role="button"
        ><i class="fab fa-twitter"></i
        ></a>



        <!-- Instagram -->
        <a
          data-mdb-ripple-init
          class="btn text-white btn-floating m-1"
          style="background-color: #ac2bac;"
          href="https://www.instagram.com/houssemellouze12/"
          role="button"
        ><i class="fab fa-instagram"></i
        ></a>

        <!-- Linkedin -->
        <a
          data-mdb-ripple-init
          class="btn text-white btn-floating m-1"
          style="background-color: #0082ca;"
          href="https://www.linkedin.com/in/houssem-ellouze-b51b0b211/"
          role="button"
        ><i class="fab fa-linkedin-in"></i
        ></a>
        <!-- Github -->
        <a
          data-mdb-ripple-init
          class="btn text-white btn-floating m-1"
          style="background-color: #333333;"
          href="https://github.com/Houssem-Ellouze"
          role="button"
        ><i class="fab fa-github"></i
        ></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2024 Copyright: Houssem Ellouze

    </div>
    <!-- Copyright -->
  </footer>
</div>
