<div class="root">
  <div class="navbar has-background-dark">
    <div class="navbar-brand">
      <div class="navbar-item">
        <h1 class="app-name has-gradient-text">Kanban Board Application</h1>
      </div>
    </div>
  </div>

  <div class="board">

    <div class="board-bar">
      <p class="board-name">{{ board.name }}</p>
    </div>

    <div class="board-wrapper">

      <div class="board-columns" cdkDropListGroup>
        <div class="board-wrapper">
          <div *ngFor="let column of board.columns; let i = index"
               class="column"
               cdkDropList
               [cdkDropListData]="column.tasks"
               (cdkDropListDropped)="drop($event)"
               [ngStyle]="{'background-color': getColumnColor(i), 'color': getTitleColor(i), 'font-size': '20px'}">
          <h3>{{ column.name }}</h3>
            <div *ngFor="let task of column.tasks" class="task-container" cdkDrag>
              <input type="text" [(ngModel)]="task.text"  />
            </div>
          </div>
        </div>


      </div>

    </div>
  </div>

<div class="foooter">
  <p> &copy; Created By : Houssem Ellouze</p>
  <p>Powered By : Angular TS</p>
</div>
</div>
